//@import "bootstrap/dist/css/bootstrap.min.css";
//@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css");

/* Navbar Styling */
.navbar-title {
  font-size: 18px;
  font-weight: bold;
}

/* Ensure dropdown menus display properly */
.dropdown-menu {
  min-width: 200px;
}

body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }